
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ----- colors -------- */

:root {
  --main-color: #777;
  --second-color: #EAA01C;
  --third-color: #fff;
  --light-grey-color: rgb(241, 241, 241);
}


/* ---- typography ---- */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1, h2, h3, h4, h5, h6, p{
  color: var(--main-color);
  margin:0;
}

h1 {
  font-weight: 400;
  font-size: 25px;
  padding: 50px 0 0 0;
  text-align:center;
}

h2 {}

h3 {
  font-weight: 300;
  font-size: 20px;
  padding: 5px 0;
}

h4{
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 14px;
}


/* ------ general ------ */

section{
  width: 100%;
  height: 100vh;
}

section header{
  width:100%;
  height: 15vh;
}

section section{
  height: auto;
  margin-bottom:140px;
  margin-left:auto;
  margin-right:auto;
}

a{
  text-decoration: none;
}

img{
  width: auto;
  height: 100%;
}

.wrapper-center{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-shadow{
  -webkit-box-shadow: 0px 12px 34px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 34px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 34px -10px rgba(0,0,0,0.75);
}

.normal-shadow{
  -webkit-box-shadow: 0px 12px 34px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 34px -20px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 34px -20px rgba(0,0,0,0.75);
}

.big-shadow{
  -webkit-box-shadow: 0px -1px 34px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 34px -13px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 34px -13px rgba(0,0,0,0.75)
}


/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.button {
  width: 100%;
  position: relative;
  height: 15vh;
  border-radius: 20px;
}

.button-alt {
  color: blue;
  background-color: #fff;
}

.go-back-button{
  position: absolute;
}

.go-back-button div{
  width: 50px;
  height:50px;
  margin:35px 0 0 18px;
}

.go-back-button img{
  height:25px;
}

.logout{
  background-color: var(--second-color);
  padding: 10px 20px;
  margin:40px auto;
  color: var(--third-color);
  font-size: 16px;
  border-radius: 20px;
  text-align: center;
  width:100px;
  display:block;
  border:none;
}

.arrow{
  height: 18px;
  margin-top:-15px;
}

.reverse{
  transform: rotate(180deg);
}

.oposite{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-to-map-link{
  text-align: center;
  width: 90px;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.go-to-map-link p{
  padding-top:5px;
  color: var(--second-color);
}

.go-to-map-link div{
  width: 15px;
  height: 15px;
  margin-top:5px;
}

.add{
  position: absolute;
  right:40px;
  top:50px;
  width: 25px;
  height: 25px;
}

/* ---- forms ---- */

form label{
  font-size: 12px;
  color: var(--main-color);
  font-weight: 300;
  margin-left: 20px;
}

form input, form button, .like-form-button, form select{
  width: 100%;
  height: auto;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid var(--second-color);
  font-size:16px;
  font-weight: 300;
  margin: 10px auto;
}

form div.css-yk16xz-control{
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid var(--second-color);
  font-size:16px;
  font-weight: 300;
  margin: 10px auto;
}


form button, .like-form-button{
  background-color: var(--second-color);
  color: var(--third-color);
  font-weight: 400;
}

form select{
  background-color: var(--third-color);
}



a.form-link{
  display: block;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin:5px auto;
}

a.form-link span{
  color: var(--second-color);
  font-weight: 400;
}

.like-form-button{
  text-align:center;
}

.add-form-img article{
  position: relative;
}

.wrapper-form-images{
  margin: 20px auto 0 auto;
  width:20vh;
  height:20vh;
}

.wrapper-form-img{
  margin: 0 auto 0 auto;
  width:20vh;
  height:20vh;
  border-radius:20px;
  overflow: hidden;
}

.delete{
  position: absolute;
  top: -12px;
  width:25px;
  height: 25px;
  right: -10px;
}

.pop-up{
  position:fixed;
  top:0;
  left:0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(241, 241, 241, 0.8);
  z-index:2;
}

.pop-up figure{
  padding: 50px 25px;
  background-color: var(--third-color);
  border-radius:20px;
  margin-top:-100px;
}

.pop-up figure p:nth-child(1){
  text-align: center;
  font-weight: 300;
  margin-bottom:30px;
}

form div.css-1hwfws3{
  padding: 15px 25px;
}

/* ---- section ---- */

section.testimonials .button {
  margin-bottom: 10px;
}
.container{
  margin:0;
  width:100%;
  padding:0;
}

nav{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color:var(--third-color);
  margin:0;
  padding:0;
  z-index:10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 0px 12px 34px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 34px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 34px -13px rgba(0,0,0,0.75)
}

nav.is-private-navbar{
  bottom:0;
}

nav.is-public-navbar{
  top:0;
}

nav a div{
  width: 40px;
  height: 40px;
  border-radius:20px;
  margin-top:-5px;
}

.view-list-button{
  position: absolute;
  top:70px;
  left: 20px;
}

/* ---- sections login & signup ---- */

section.not-private div{
  width:80%;
  margin-top:-50px;
}

/* ---- section private main ---- */

section.main header p{
  text-align: center;
  margin-top:10px;
  color: var(--second-color);
}

section.main section{
  width:80%;
}

.button-main{
  display: block;
  margin:20px auto;
  background-color: var(--second-color);
}

.button-main p{
  position:absolute;
  color: var(--third-color);
  bottom: 10px;
  left: 20px;
  font-weight: 400;
  font-size: 14px;
}

.button-main div{
  width: 40%;
  height: 100%;
}

/* ---- section settings ---- */

section.settings section a{
  width:80%;
  height:auto;
  margin: 20px 10%;
  border-bottom: 1px solid #dfdede;
}

section.settings section a div p{
  color: var(--second-color);
  padding: 0 0 20px 0;
}

/* ---- section editing-pages ---- */

section.edit-page section{
  width:80%;
  height: auto;
}

.edit input, .edit select{
  margin-top: 0px;
}

.css-2b097c-container{
  margin-top:-10px;
}

.edit:nth-child(2){
  margin-top:100px;
}

/* ---- section settings/my-places ---- */

section.my-places section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width:97.5%;
}

section.my-places section a{
  width: 40%;
  height: 30vh;
}

section.my-places section a div{
  width: 100%;
  height: 20vh;
  border-radius: 20px;
}

section.my-places section a h4{
  margin:10px 0 10px 10px;
}

/* ---- section places list ---- */

section.places section{
  width:90%;
}

.map-view{
  width:300px;
  height:50vh;
}

.button-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px auto 30px auto;
  background-color: var(--light-grey-color);
}

.button-list p{
  color: var(--second-color);
  bottom: 10px;
  left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin:0;
}

.button-list div{
  width: 45%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.button-list div img{
  opacity:0.8;
}

.button-list h4{
  margin:20px 0 0 0;
  font-weight: 400;
}

