
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ----- colors -------- */

:root {
  --main-color: #777;
  --second-color: #EAA01C;
  --third-color: #fff;
  --light-grey-color: rgb(241, 241, 241);
}


/* ---- typography ---- */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1, h2, h3, h4, h5, h6, p{
  color: var(--main-color);
  margin:0;
}

h1 {
  font-weight: 400;
  font-size: 25px;
  padding: 50px 0 0 0;
  text-align:center;
}

h2 {}

h3 {
  font-weight: 300;
  font-size: 20px;
  padding: 5px 0;
}

h4{
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 14px;
}


/* ------ general ------ */

section{
  width: 100%;
  height: 100vh;
}

section header{
  width:100%;
  height: 15vh;
}

section section{
  height: auto;
  margin-bottom:140px;
  margin-left:auto;
  margin-right:auto;
}

a{
  text-decoration: none;
}

img{
  width: auto;
  height: 100%;
}

.wrapper-center{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon-shadow{
  -webkit-box-shadow: 0px 12px 34px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 34px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 34px -10px rgba(0,0,0,0.75);
}

.normal-shadow{
  -webkit-box-shadow: 0px 12px 34px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 34px -20px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 34px -20px rgba(0,0,0,0.75);
}

.big-shadow{
  -webkit-box-shadow: 0px -1px 34px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 34px -13px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 34px -13px rgba(0,0,0,0.75)
}

.top-shadow{
  -webkit-box-shadow: 0px -12px 20px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -12px 20px -20px rgba(0,0,0,0.75);
  box-shadow: 0px -12px 20px -20px rgba(0,0,0,0.75)
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.button {
  width: 100%;
  position: relative;
  height: 15vh;
  border-radius: 20px;
}

.button-alt {
  color: blue;
  background-color: #fff;
}

.go-back-button, .like{
  position: absolute;
}

.go-back-button div{
  width: 50px;
  height:50px;
  margin:35px 0 0 18px;
}

.like{
  width: 50px;
  height: 50px;
  margin:40px 0 0 0;
  right: 10%;
}

.go-back-button img, .like img{
  height:25px;
}

.button-mini{
  background-color: var(--second-color);
  padding: 10px 20px;
  margin:40px auto;
  color: var(--third-color);
  font-size: 16px;
  border-radius: 20px;
  text-align: center;
  display:block;
  border:none;
}

.logout{
  width:100px;
}

.arrow{
  height: 18px;
  margin-top:-15px;
}

.reverse{
  transform: rotate(180deg);
}

.oposite{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-detail{
  text-align:center;
  color: var(--second-color);
  margin-top:10px;
}

.go-to-map-link{
  text-align: center;
  width: 90px;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.go-to-map-link p{
  padding-top:5px;
  color: var(--second-color);
}

.go-to-map-link div{
  width: 15px;
  height: 15px;
  margin-top:5px;
}

.add{
  position: absolute;
  right:40px;
  top:50px;
  width: 25px;
  height: 25px;
}

.edit-icon{
  width: 36px;
  height: 36px;
  border-radius:18px;
  position: absolute;
  top: -18px;
  right: 11%;
}

.first-message{
  width:100%;
  height: auto;
  position:fixed;
  top:30vh;
}

.column{
  flex-direction: column;
}

.line-text{
  display: inline;
}

.bottom{
  padding-bottom:20px;
}

.bottom-margin{
  margin-bottom:20px;
}

/* ---- forms ---- */

form label{
  font-size: 12px;
  color: var(--main-color);
  font-weight: 300;
  margin-left: 20px;
}

form input, form button, .like-form-button, form select, .button-pop-up{
  width: 100%;
  height: auto;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid var(--second-color);
  font-size:16px;
  font-weight: 300;
  margin: 10px auto;
}

form div.css-yk16xz-control{
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid var(--second-color);
  font-size:16px;
  font-weight: 300;
  margin: 10px auto;
}


form button, .like-form-button, .button-pop-up{
  background-color: var(--second-color);
  color: var(--third-color);
  font-weight: 400;
}

form select{
  background-color: var(--third-color);
}

a.form-link{
  display: block;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin:5px auto;
}

a.form-link span{
  color: var(--second-color);
  font-weight: 400;
}

.like-form-button{
  text-align:center;
}

.add-form-img article{
  position: relative;
}

.wrapper-form-images{
  margin: 20px auto 0 auto;
  width:20vh;
  height:20vh;
}

.wrapper-form-img{
  margin: 0 auto 0 auto;
  width:20vh;
  height:20vh;
  border-radius:20px;
  overflow: hidden;
}

.delete{
  position: absolute;
  top: -12px;
  width:25px;
  height: 25px;
  right: -10px;
}

.delete-icon{
  position: absolute;
  top: -18px;
  width: 36px;
  height:36px;
  right: 23%;
  border-radius:18px;
  border: none;
}

.delete-icon img{
  width: 36px;
  height: 36px;
  margin-top: -2px;
}

.pop-up{
  position:fixed;
  top:0;
  left:0;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(241, 241, 241, 0.8);
  z-index:2;
}

.pop-up figure{
  padding: 50px 25px;
  background-color: var(--third-color);
  border-radius:20px;
  margin-top:-100px;
}

.pop-up figure p:nth-child(1){
  text-align: center;
  font-weight: 300;
  margin-bottom:30px;
}

form div.css-1hwfws3{
  padding: 15px 25px;
}

/* ---- section ---- */

section.testimonials .button {
  margin-bottom: 10px;
}
.container{
  margin:0;
  width:100%;
  padding:0;
}

nav{
  position: fixed;
  height: 100px;
  width: 100%;
  background-color:var(--third-color);
  margin:0;
  padding:0;
  z-index:10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 0px 12px 34px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 12px 34px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 12px 34px -13px rgba(0,0,0,0.75)
}

nav.is-private-navbar{
  bottom:0;
}

nav.is-public-navbar{
  top:0;
}

nav a div{
  width: 40px;
  height: 40px;
  border-radius:20px;
  margin-top:-5px;
}

.view-list-button{
  position: absolute;
  top:70px;
  left: 20px;
  color: #333;
}

/* ----- loader ------- */
.lds-ring {
  display: inline-block;
  position: fixed;
  width: 64px;
  height: 64px;
  left:50%;
  top:50vh;
  margin: -32px 0 0 -32px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid var(--main-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ----- 404 error ----- */

.margin-error{
  margin-top:20vh;
}

.message-intro h1.color-error{
  color: var(--main-color);
}

.message-intro p.color-error-text{
  color: var(--second-color);
}

/* ----- intro ------ */

section.intro, section.error{
  width: 100%;
  height: 100vh;
}

section.intro{
  background-color: #ffe26d;
}

.intro-pos{
  top:80px;
  left:10px;
}

.message-intro{
  width:70%;
  height:auto;
  bottom:10vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  top:0;
  padding: 15% 0;
}

.img-intro{
  top:0;
  position: fixed;
  width:100%;
  height:auto;
  display:flex;
  justify-content: center;
  align-items: center;
  top:15vh;
}

.message-intro{
  width:100%;
  height:100vh;
}

.btn-intro{
  display:block;
  color: var(--third-color);
  background-color: var(--second-color);
  font-size:16px;
  width:150px;
  padding:20px 50px;
  border-radius:20px;
  border:none;
  margin:20px auto;
}

.message-intro h1{
  font-size: 30px;
  font-weight: 400;
  color: black;
  margin-bottom: 25px;
}

.message-intro h3{
  width:60%;
  margin:0 20%;
  color: black;
}

.message-intro p{
  width: 50%;
  margin:10px 25%;
  color: black;
}



/* ---- sections login & signup ---- */

section.not-private div{
  width:80%;
  margin-top:-50px;
}

/* ---- section private main ---- */

section.main header p{
  text-align: center;
  margin-top:10px;
  color: var(--second-color);
}

section.main section{
  width:80%;
}

.button-main{
  display: block;
  margin:20px auto;
  background-color: var(--second-color);
}

.button-main p{
  position:absolute;
  color: var(--third-color);
  bottom: 10px;
  left: 20px;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0px 0px 10px rgba(77, 51, 3, 0.6);
}

.button-main div{
  width: 100%;
  height: 100%;
}

/* ---- section settings ---- */

section.settings section a{
  width:80%;
  height:auto;
  margin: 20px 10%;
  border-bottom: 1px solid #dfdede;
}

section.settings section a div p{
  color: var(--second-color);
  padding: 0 0 20px 0;
}

/* ---- section models ------*/

section.model-page header{
  position: absolute;
}

section.model-page div.model-img-wrapper, section.model-page div.model-img{
  height: 40vh;
  overflow: hidden;
}

section.model-page .profile-img img{
  width: 100%;
  height: auto;
}

.info-model{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top:-20px;
  background-color: var(--third-color);
  z-index:2;
  position: absolute;
  width:100%;
}

section.model-page section article, section.model-page .model-block{
  width:80%;
  height:auto;
  margin: 20px 10%;
  border-bottom: 1px solid #dfdede;
  padding-bottom:20px;
}

section.model-page .first-to-see{
  margin-top:130px;
  border-top:1px solid #dfdede;
  padding-top: 20px;
}


section.model-page p{
  color: var(--second-color);
}

section.model-page hr{
  width:80%;
  height:1px;
  background-color: var(--second-color);
  margin: 20px auto;
  border: none;
}

section.model-page h5{
  font-weight: 300;
  color: var(--main-color);
}

.edit-button{
  width:160px;
}


/* ---- section editing-pages ---- */

section.edit-page section{
  width:80%;
  height: auto;
}

.edit input, .edit select{
  margin-top: 0px;
}

.css-2b097c-container{
  margin-top:-10px;
}

.edit:nth-child(2){
  margin-top:100px;
}

/* ---- section settings/my-places ---- */

section.my-places section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width:97.5%;
}

section.my-places section a{
  width: 40%;
  height: 30vh;
}

section.my-places section a.view-in-map{
  height: auto;
}

section.my-places section a div{
  width: 100%;
  height: 20vh;
  border-radius: 20px;
}

section.my-places section a h4{
  margin:10px 0 10px 10px;
}

/* ---- section places list ---- */

section.places section{
  width:90%;
}

.map-view{
  width:300px;
  height:50vh;
}

.button-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px auto 30px auto;
  background-color: var(--light-grey-color);
}

.button-list p{
  color: var(--second-color);
  bottom: 10px;
  left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin:0;
}

.button-list div{
  width: 45%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.button-list div img{
  opacity:0.8;
}

.button-list h4{
  margin:20px 0 0 0;
  font-weight: 400;
}



/*---------- mapbox ----------*/

.signal{
  width: 24px;
  height:32px;
  margin-top:-32px;
  margin-left:-12px;
}

.mapbox-in-form{
  height:50vh;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.mapbox-in-page{
  height:100vh;
}

.mapboxgl-ctrl-geocoder {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #fff;
  width: 82.5%;
  min-width: 200px;
  border-radius: 10px;
}

.mapboxgl-ctrl-group{
  border-radius:10px;
  height:50px;
  border:none;
} 

.mapboxgl-ctrl-group:not(:empty){
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

.mapboxgl-ctrl-group > button{
  margin:0;
}

.map-popup-img{
  width:150px;
  height:130px;
}

.mapboxgl-popup-anchor-bottom, .mapboxgl-popup-anchor-bottom-left, .mapboxgl-popup-anchor-bottom-right{
  margin-top:-30px;
}

.overlays a.add{
  top:70px;
  right:25px;
}

.mapboxgl-popup{
  z-index:2;
}